.clients{
  padding-top: 94px;
  padding-bottom: 94px;
  @media screen and (max-width: 1199px) {
   padding-top: 60px;
  padding-bottom: 60px;
  }

  &__title {
    
    margin-bottom: 50px;
  
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
   
   
      @media screen and (max-width: 1199px) {
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 1.18;
      }
    
   
  }

  &__list {
    display: flex;
    margin: -15px;
      
   
    @media screen and (max-width: 1199px) {
      flex-wrap: wrap;
      
    }   
  }

  &__item{
    display: flex;
    flex-wrap: wrap;
    width:auto;
    height:auto;

  
    justify-content: center;
    align-items: center;
   
    @media screen and (max-width: 400px) {
      width: 100%;
      margin-bottom: 30px;
      }
      @media screen and (min-width: 400px) {
        margin: 15px;
        
       
      }
    
      }
    
    .clients__link{
      display: flex;
      border: 1px solid #AFB1B8;
      border-radius: 4px;
      width: 170px;
      height: 92px;
      justify-content: center;
      align-items: center;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: var(--cubick);
      transition: border-color 250ms var(--cubick);
      transition-property: border-color;
      transition-duration: 250ms;
      transition-timing-function: var(--cubick);
      &:hover,
       &:focus{
        border-color: var(--accent-color);}
       
        
          @media screen and (max-width: 480px) {
            max-width: 210px;
            
        }
        @media screen and (min-width: 480px) {
          width: 210px;          
      } 
      
      @media screen and (min-width: 768px) {
          width: 226px;          
      } 
      
      @media screen and (min-width:1200px) {
          width: 170px;          
      } 
      }

      
}
.clients__icon {
  display: block;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubick);
  
  .clients__link:hover &{
    fill: var(--accent-color);
  }
}