.portpholio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  padding-left: 0px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubick);
  margin: -15px;
}

.portpholio-list .item:hover,
.portpholio-list .item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portpholio-list .item {
  transition-property: box-shadow;
  transition-duration: 25000ms;
  transition-timing-function: var(--cubick);
}

.portpholio-list .link {
  text-decoration: none;
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

.portpholio .overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--cubick);
}

.portpholio-list .link:hover .overlay,
.portpholio-list .link:focus .overlay {
  transform: translateY(0);
}

.portpholio .overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-right: 24px;
  padding-left: 24px;

  @media screen and (max-width: 767px) {
    width: 450px;
    padding-top: 77px;
    padding-bottom: 77px;
    align-items: center;
    display: flex;
  }
  @media screen and (min-width: 768px) {
    padding-top: 49px;
    padding-bottom: 77px;
    width: 354px;
    display: flex;
    align-items: center;

  }
  @media screen and (min-width: 1200px) {
    padding-top: 63px;
    padding-bottom: 63px;
    width: 370px;
  }
}

.portpholio-img {
  display: block;
  width: 370px;

  @media screen and (max-width: 767px) {
    max-width: 450px;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    max-width: 354px;
    width: 100%;
    
  }

  @media screen and (min-width: 1200px) {
    max-width: 370px;
    width: 100%;
  }
}

.portpholio .img-border {
  padding: 20px 24px;
}
.portpholio .title-item {
  margin-top: 0px;
  margin-bottom: 0px;

  margin-bottom: 4px;
}
.portpholio-list .item {
  margin: 15px;
  width: 370px;
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  @media screen and (max-width: 767px) {
    max-width: 450px;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    max-width: 354px;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    max-width: 370px;
    width: 100%;
  }
}

// .portpholio-list .item:nth-child(3n) {
//   margin-right: 0px;
// }

// .portpholio .item:nth-last-child(-n + 3) {
//   margin-bottom: 0px;
// }



.portpholio .title-item {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portpholio .text {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0px;
  margin-bottom: 0px;
}
