.hero{
display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)), url(../imige/deskheader1x.jpg);

  @media screen and (min-width: 768px) {
    padding-top: 118px;
  padding-bottom: 118px;
  width: 1600px;
  }

  

  @media (max-width: 767px) {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)), url(../imige/header1x.jpg);
    background-size: cover;
    width: 450px;
  }

  @media (min-resolution2dppx) {
    background-image:  url(../imige/header2x.jpg);
  }

  @media (min-width: 768px) {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)), url(../imige/tablheader1x.jpg);
      
      width: 768px;
  }
  @media (min-resolution2dppx) {
    background-image: url(../imige/tablheader2x.jpg);
    
  }

  @media (min-width: 1200px) {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)), url(../imige/deskheader1x.jpg);
    width: 1600px;
  }

  @media (min-resolution2dppx) {
    background-image: url(../imige/deskheader2x.jpg);
    
  }

  &__title {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    max-width: 696px;
    color: var(--ccolor-withe);
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (max-width: 1200px) {
      font-size: 26px;
      line-height: 1.62;
      max-width: 360px;
      width: 100%;
    }
  }
}
