.menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  width: 40px;
  height: 40px;
  border: none;
  z-index: 99;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-icon-close {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .menu-icon-close {
  display: none;
}

.menu-button.is-open .menu-icon-close {
  display: block;
}

.menu-button.is-open .menu-icon-open {
  display: none;
}
.menu-container {
  min-width: 320px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  display: none;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
    padding: 48px 40px;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
}

.is-open {
  display: block;
}
.menu-soc-list {
  display: flex;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-soc-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.menu-soc-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu-soc-link:not(:last-child) {
  margin-right: 10px;
}

.menu-button:hover .menu-icon-open,
.menu-button:hover .menu-icon-close {
  fill: var(--accent-color);
}

.menu-button:focus .menu-icon-open,
.menu-button:focus .menu-icon-close {
  fill: var(--accent-color);
}
