.modal{
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 40px;
    width: 528px;
    min-height: 581px;

    transform: translate(-50%, -50%) scale(1);
    animation-name:animate-scale;
    animation-duration: 500ms;
    animation-timing-function: var(--cubick);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--cubick);
  
    background-color: rgba(255, 255, 255, 1);
    @media screen and (max-width:1199px) {
      max-width: 450px;
      width: 100%;
    }

  }
  
@keyframes animate-scale{
  0%{
    transform: scale(0.3);
  }
  100%{
    transform: scale(1);
  }
}

    
  .modal-button{
    outline: none;
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50% 50%;  
    margin-top: 14px;
    margin-right: 14px;
     background-color: var(--ccolor-withe);
     transition-property: fill;
     transition-duration: 250ms;
     transition-timing-function: var(--cubick);
    }
   

    .modal-button:hover .modal-close,
    .modal-button:focus .modal-close{
      fill: var(--accent-color);
    }
    .modal-close{
      display: flex;
      width: 18px;
      height: 18px;
    }

  

  .title-modal{
    margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height:1.39;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  }
  

.modal-input-name{
  display: block;

margin-bottom:4px;

font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: #757575;
}

.modal .input-group{
  position: relative;
}

.modal-input{
  outline: none;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 7px;
  padding-left: 42px;
  padding-bottom: 7px;
  padding-right: 10px; 
transition-property: border-color;
transition-duration: 250ms;
transition-timing-function: var(--cubick);
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: var(--cubick);

}





.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus ~ .modal-icon{
  fill: var(--accent-color);
}

.modal-icon{
  position: absolute;
  top: 0;
  left: 0;
}

.modal-icon{
  display:inline-block;

  margin-left: 15px;
  width:18px;
  height: 18px;
}

.modal-texterea{
  resize: none;
  outline: none;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 10px;
  height: 120px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubick);
}

.modal-texterea:hover,
.modal-texterea:focus{
  border-color: var(--accent-color);
}
.modal-check{
  position: relative;
 margin-left: 14px;
  
  
}

.modal .input-check{
  position: absolute;
  top: 6px;
  
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.modal .input-check:checked+.check-box{
  background-image: url(../images/icon-on.svg);
}

.modal .check-box{ 

  position: absolute;
  bottom: 0.5px;
  left: -14px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;
  margin-top: 2px;
  
  border-radius: 4px;
  background-image: url(../images/icon-off.svg);
  fill: #212121;

  @media screen and (min-width: 1200px) {
    top: 2px;
  }
}


.modal .contract{
  display: flex;
   margin-bottom:30px;
}

.modal .contract-text{
  margin-left: 8px;
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;

@media screen and (max-width:1199px) {
  font-size: 12px;
  line-height: 1.16;
}
}

 .modal-link{
   color: var(--accent-color);
 }


.modal .button-agreement{
    display: flex;
  align-items: center;
  text-align: center;

    padding-top: 10px;
    padding-right: 55px;
    padding-bottom: 10px;
    padding-left: 56px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubick); 
  }
  .modal .button-agreement:hover,
  .modal .button-agreement:focus{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #188CE8;
  }