.our-works{
    padding-bottom: 94px;
   
    @media screen and (max-width: 1199px) {
      display: none;
    }

  &__title {
    margin-top: 0px;
    margin-bottom: 50px;
  
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }

  &__exempls {
    display: block;
    display: flex;
    margin-top: 0px;
    padding: 0px 0px;
  }

  &__item {
    
    margin-right: 30px;
  }
 
  &__img {
    display: flex;
    width: 370px;
  }
 
  &__desktop-app{
    position: relative;
  }
 
  &__mobile-app{
    position: relative;
  }

  &__design-img{
  
    position: relative;
  }

  &__item:nth-child(3n) {
    margin-right: 0px;
  }
  &__position{
   
    position: absolute;
    left: 0;
    bottom: 0px;
 
    width: 100%;
   }
   &__text{
    display: block;
    padding: 27px;
  
    font-weight: 700;
    font-size: 14px;
    line-height:1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
  