.page-header {
  display: flex;
  &__container {
    position: relative;
    
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
  }
}
.page-header__border {
  border-bottom: 1px solid #ececec;
}
.page-header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--logo-color);
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 0px;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
 
  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.16;
  }
  
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.page-header__logo-lable {
  color: var(--accent-color);
}

.page-header__container {
  @media screen and (max-width: 767px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.nav-wraper{
  @media screen and (max-width: 767px) {
    display: none;
    ;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    ;
  }
}
  .nav-wraper .contact{
@media screen and (min-widtth: 1200px) {
  margin-left: 305px;
  display: flex;
}
 

 

}