.project {
    display: block;
    display: flex;
    margin-top: 0px;
    padding-left: 0px;
    justify-content: center;

    @media screen and (max-width: 767px) {
     justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 46px;
    }
   
    @media screen and (min-width: 768px) {     
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {   
      margin-bottom: 50px;
    }  
  }
  
  .project .item {
     margin-bottom: 0px;
     @media screen and (max-width: 767px){
       margin-bottom: 15px;
      
     }

     
    
  }
  
  .project .item:not(last-child){
    margin-right: 8px;
    
  }
  
  .project .button {
    padding: 6px 22px;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-bottom: 0px;
  
    font-family: inherit;
    color: var(--secondary-text-color);
    background-color: #f5f4fa;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubick);
    transition-property: background-color;
  
   
  
  }
  .project .button:hover,
  .project .button:focus {
    color: var(--ccolor-withe);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }
  @media screen and (max-width: 767px) {
   .project .item:nth-last-child(-n+2){
margin-bottom: 0px;
   }
  }