.site-nav {
 
  align-items: center;
  
  @media screen and (min-width: 768px) {
    display: block;
  }
 
  

  &__list {
    display: block;

    @media screen and (max-width: 767px) {
      display: block;
      margin-left: 0px;
      margin-bottom: 302px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }

  &__item + &__item {
    margin-left: 50px;

    @media screen and (max-width: 767px) {
      margin-left: 0px;
    }
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }

  &__link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--secondary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.02em;
    justify-content: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubick);

    @media screen and (max-width: 767px) {
      padding: 0px;
      font-weight: 500;
      font-size: 40px;
      line-height: 1.18;
      letter-spacing: 0.02em;
    }
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
  &__after-link {
    position: relative;

    @media screen and (max-width: 767px) {
      display: block;
    }
  }
  &__after-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--accent-color);
    @media screen and(max-width: 767px) {
      position: absolute;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}
